<ul>
    <li><a href="index.php">Kezdőlap</a></li>
    <li><a href="termekek.php">Termékek</a></li>
    <li><a href="regisztracio.php">Regisztráció</a></li>
                  
</ul>
<form method="post" action="belep.php">
    <input type="text" name="user" placeholder="Felhasználónév" required>
    <input type="password" name="password" placeholder="Jelszó" required>
    <input type="submit" value="Belép" name="submit">
</form>