<ul>
    <li><a href="index.php">Kezdőlap</a></li>
    <li><a href="termekek.php">Termékek</a></li>
    <li><a href="profil.php">Profil</a></li>
                  
</ul>
<form method="post" action="kilep.php">
    <input type="submit" value="Kilép" name="kilep">
</form>